<div class="bg-white container py-2">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="logo">
            <img src="assets/img/Sodexo_logo 1.svg" alt="Logo" class="logo-img" />
        </div>
        <div class="profile-menu">
            <div class="profile">
                <img src="../../../../assets/img/Sodexo_logo 1.svg" alt="Profile" class="profile-img" />
                <span class="profile-name">John Doe</span>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>