<div class="page-wrapper">
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-6 col-12 mb-2">
                <h1 class="color-primary">Bidding</h1>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="bidding-wrap event-tabs-container">
                    <nav>
                        <div class="nav nav-tabs custom-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Live Event</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Close Event</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <div class="table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                        <tr>
                                            <th>SR No.</th>
                                            <th>Description</th>
                                            <th>Event Direction</th>
                                            <th>Host</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Time Zone</th>
                                            <th>Timing</th>
                                            <th>Participation Status</th>
                                            <th>Next Step</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Test 123</td>
                                            <td>Reverse</td>
                                            <td> Admin-Pmuzammil123.com </td>
                                            <td>12-May-2025</td>
                                            <td>12-May-2025</td>
                                            <td>Asia/Kolkata</td>
                                            <td>Event Start in : 00D:00H:00M</td>
                                            <td>Confirm</td>
                                            <td>
                                                <a href="main-dashboard/bidding/live-event"><button type="button" class="btn btn-outline"> Proceed</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Test 123</td>
                                            <td>Reverse</td>
                                            <td> Admin-Pmuzammil123.com </td>
                                            <td>12-May-2025</td>
                                            <td>12-May-2025</td>
                                            <td>Asia/Kolkata</td>
                                            <td>Event Start in : 00D:00H:00M</td>
                                            <td>Confirm</td>
                                            <td>
                                                <button type="button" class="btn btn-outline"> Proceed</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <div class="table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                        <tr>
                                            <th>SR No.</th>
                                            <th>Description</th>
                                            <th>Event Direction</th>
                                            <th>Host</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Time Zone</th>
                                            <th>Timing</th>
                                            <th>Participation Status</th>
                                            <th>Next Step</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Test 123</td>
                                            <td>Reverse</td>
                                            <td> Admin-Pmuzammil123.com </td>
                                            <td>12-May-2025</td>
                                            <td>12-May-2025</td>
                                            <td>Asia/Kolkata</td>
                                            <td>Event Start in : 00D:00H:00M</td>
                                            <td>Confirm</td>
                                            <td>
                                                <button type="button" class="btn btn-outline"> Proceed</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Test 123</td>
                                            <td>Reverse</td>
                                            <td> Admin-Pmuzammil123.com </td>
                                            <td>12-May-2025</td>
                                            <td>12-May-2025</td>
                                            <td>Asia/Kolkata</td>
                                            <td>Event Start in : 00D:00H:00M</td>
                                            <td>Confirm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>