<div class="container mt-3">
        <div class="row">
        <div class="col-lg-3 col-12 mb-2">
            <div class="invoice-card purple">
                <div class="invoice-header">
                    <div>
                        <div class="invoice-text">Total Invoice</div>
                        <div class="invoice-amount">₹ 250,000</div>
                    </div>
                    <div class="invoice-icon">
                        <img src="assets/img/invoice.svg">
                    </div>
                </div>

                <div class="invoice-footer">
                    <i class="fas fa-arrow-up"></i>
                    <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-12 mb-2">
            <div class="invoice-card green">
                <div class="invoice-header">
                    <div>
                        <div class="invoice-text">Outstanding</div>
                        <div class="invoice-amount">₹ 250,000</div>
                    </div>
                    <div class="invoice-icon">
                        <img src="assets/img/outstanding.svg">
                    </div>
                </div>

                <div class="invoice-footer">
                    <i class="fa fa-arrow-up"></i>
                    <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-12 mb-2">
            <div class="invoice-card red">
                <div class="invoice-header">
                    <div>
                        <div class="invoice-text">Overdue</div>
                        <div class="invoice-amount">₹ 250,000</div>
                    </div>
                    <div class="invoice-icon">
                        <img src="assets/img/overdue.svg" alt="Overdue" >
                    </div>
                </div>

                <div class="invoice-footer">
                    <i class="fas fa-arrow-up"></i>
                    <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-12 mb-2">
            <div class="invoice-card yellow">
                <div class="invoice-header">
                    <div>
                        <div class="invoice-text">Cancelled</div>
                        <div class="invoice-amount">₹ 250,000</div>
                    </div>
                    <div class="invoice-icon">
                        <img src="assets/img/cancel.svg" alt="Cancelled" >
                    </div>
                </div>

                <div class="invoice-footer">
                    <i class="fas fa-arrow-up"></i>
                    <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                </div>
            </div>
        </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-12">
                <div class="card">
                        <div class="card-header">
                           <div class="">
                              <h2>Invoice Detail</h2>
                           </div>
                        </div>
                        <div class="card-body">
                           
                        </div>
                     </div>
            </div>
        </div>
    </div>