<div class="container my-3">
        <div class="row">
            <div class="col-lg-6 col-12 mb-2">
                <h1 class="color-primary">Vendor Dashboard</h1>
            </div>
            <div class="col-lg-6 col-12 mb-2">
                
            </div>
            <div class="col-lg-3 col-12 mb-2">
                <div class="invoice-card purple">
                    <div class="invoice-header">
                        <div>
                            <div class="invoice-text">Total Invoice</div>
                            <div class="invoice-amount">₹ 250,000</div>
                        </div>
                        <div class="invoice-icon">
                            <img src="assets/img/invoice.svg">
                        </div>
                    </div>

                    <div class="invoice-footer">
                        <i class="fas fa-arrow-up"></i>
                        <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-2">
                <div class="invoice-card green">
                    <div class="invoice-header">
                        <div>
                            <div class="invoice-text">Outstanding</div>
                            <div class="invoice-amount">₹ 250,000</div>
                        </div>
                        <div class="invoice-icon">
                            <img src="assets/img/outstanding.svg">
                        </div>
                    </div>

                    <div class="invoice-footer">
                        <i class="fa fa-arrow-up"></i>
                        <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-2">
                <div class="invoice-card red">
                    <div class="invoice-header">
                        <div>
                            <div class="invoice-text">Overdue</div>
                            <div class="invoice-amount">₹ 250,000</div>
                        </div>
                        <div class="invoice-icon">
                            <img src="assets/img/overdue.svg" alt="Overdue" >
                        </div>
                    </div>

                    <div class="invoice-footer">
                        <i class="fas fa-arrow-up"></i>
                        <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-2">
                <div class="invoice-card yellow">
                    <div class="invoice-header">
                        <div>
                            <div class="invoice-text">Cancelled</div>
                            <div class="invoice-amount">₹ 250,000</div>
                        </div>
                        <div class="invoice-icon">
                            <img src="assets/img/cancel.svg" alt="Cancelled" >
                        </div>
                    </div>

                    <div class="invoice-footer">
                        <i class="fas fa-arrow-up"></i>
                        <p class="mb-0"><span><strong>5.62%</strong> </span>from last month</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-12">
                <div class="card">
                        <div class="card-header">
                           <div class="">
                              <h2 class="color-primary">Invoice Detail</h2>
                           </div>
                        </div>
                        <div class="card-body">
                           <div class="invoice-card2">
                            <div class="invoice-top">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <div class="left">
                                        <p class="invoice-id mb-0">#INV215654</p>
                                    </div>
                                    <div class="right">
                                        <span class="due-label">Due in 8 Days</span>
                                    </div>
                                </div>

                                <div class="invoice-details">
                                <div class="detail-item">
                                    <label>Issued On</label>
                                    <p>25 Jan 2025</p>
                                </div>
                                <div class="detail-item">
                                    <label>Due Date</label>
                                    <p>31 Jan 2025</p>
                                </div>
                                <div class="detail-item">
                                    <label>Recurring</label>
                                    <p>Monthly</p>
                                </div>
                                </div>
                            </div>

                            <div class="invoice-middle">
                                <div class="box-1">
                                <span>Amount</span>
                                <span>565</span>
                                </div>
                                <div class="box-1">
                                <span>GST (9%)</span>
                                <span>18</span>
                                </div>
                                <div class="box-1">
                                <span>Amount</span>
                                <span class="negative">-18</span>
                                </div>
                                <hr />
                                <div class="box-1 total">
                                <span>Total</span>
                                <span>596</span>
                                </div>
                            </div>

                            <div class="invoice-bottom">
                                <button class="btn-outline">Pay</button>
                                <button class="btn-filled">Download</button>
                            </div>
                          </div>

                        </div>
                     </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="">
                            <h2 class="color-primary">Payment Statistics</h2>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="">
                            <canvas class="" id="doughnutChart"></canvas>
                        </div>
                        <div class="summary-card mt-2">
                            <div class="stats">
                                <div class="stat-item">
                                <span class="label">Invoiced</span>
                                <span class="value">9889</span>
                                </div>
                                <div class="stat-item">
                                <span class="label">Paid</span>
                                <span class="value">5569</span>
                                </div>
                                <div class="stat-item">
                                <span class="label">Partial</span>
                                <span class="value">54798</span>
                                </div>
                                <div class="stat-item">
                                <span class="label">Unpaid</span>
                                <span class="value">5655</span>
                                </div>
                            </div>
                        </div>
                         <div class="summry-footer mt-2 d-flex gap-2 align-items-center">
                            <p class="updated-text mb-0">
                            Updated from the last trasaction on Sunday, 24 Mar 2025
                            </p>
                            <button class="btn p-0" aria-label="Refresh">
                                <img src="assets/img/ion_refresh.svg" alt="Refresh" class="refresh-icon">
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="">
                            <h2 class="color-primary">Recent Activities</h2>
                        </div>
                    </div>
                    <div class="card-body timeline-card">
                        <div class="timeline">
                            <div class="timeline-item" *ngFor="let item of timelineItems">
                                <div class="timeline-icon">
                                    <div class="internal-icon"></div>
                                </div>
                                <div class="timeline-content">
                                <p class="timeline-title" [innerHTML]="item.title"></p>
                                <div class="timeline-date">
                                    <img src="assets/img/calendar.svg" alt="">
                                    <span>{{ item.date }}</span>
                                </div>
                                </div>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-lg-8 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="color-primary mb-0">Recent Invoices</h2>
                            <a href="javascript:void;" class="btn-link">View All Invoice</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th>Status</th>
                                    <th>Payment Mode</th>
                                    <th>Due Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>INV0025</td>
                                    <td>10,000</td>
                                    <td>5,000</td>
                                    <td><span class="status-badge paid">Paid</span></td>
                                    <td>Cash</td>
                                    <td>04 Mar 2025</td>
                                </tr>
                                <tr>
                                    <td>INV0025</td>
                                    <td>25,750</td>
                                    <td>10,750</td>
                                    <td><span class="status-badge unpaid">Unpaid</span></td>
                                    <td>Check</td>
                                    <td>04 Mar 2025</td>
                                </tr>
                                <tr>
                                    <td>INV0025</td>
                                    <td>1,20,500</td>
                                    <td>60,000</td>
                                    <td><span class="status-badge cancelled">Cancelled</span></td>
                                    <td>Check</td>
                                    <td>04 Mar 2025</td>
                                </tr>
                                <tr>
                                    <td>INV0025</td>
                                    <td>9,99,999</td>
                                    <td>60,000</td>
                                    <td><span class="status-badge partial">Partially Paid</span></td>
                                    <td>Check</td>
                                    <td>04 Mar 2025</td>
                                </tr>
                                <tr>
                                    <td>INV0025</td>
                                    <td>87,650</td>
                                    <td>4,00,000</td>
                                    <td><span class="status-badge partial">Partially Paid</span></td>
                                    <td>Check</td>
                                    <td>04 Mar 2025</td>
                                </tr>
                                <tr>
                                    <td>INV0025</td>
                                    <td>69,420</td>
                                    <td>30,000</td>
                                    <td><span class="status-badge cancelled">Cancelled</span></td>
                                    <td>Cash</td>
                                    <td>04 Mar 2025</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="pagination">
                                <div class="entries-info">Showing 1 to 10 of 50 entries</div>
                                <div class="page-controls">
                                <span class="page-btn">&lt;</span>
                                <span class="page-btn">1</span>
                                <span class="page-btn active">2</span>
                                <span class="page-btn">3</span>
                                <span class="page-btn">4</span>
                                <span class="page-btn">&gt;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="color-primary mb-0">Recent Invoices</h2>
                            <a href="javascript:void;" class="btn-link">View All Invoice</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="transaction-section">
                            <div class="transaction-group">
                                <div class="section-title">Today</div>

                                <div class="transaction-item">
                                <div class="left">
                                    <div class="icon">
                                    <img src="assets/img/paypal-icon.svg" alt="PayPal" />
                                    </div>
                                    <div class="details">
                                    <div class="name">Andrew James</div>
                                    <div class="id">#INV45478</div>
                                    </div>
                                </div>
                                <div class="amount income">+ 989.15</div>
                                </div>

                                <div class="transaction-item">
                                <div class="left">
                                    <div class="icon">
                                    <img src="assets/img/card-icon.svg" alt="Card" />
                                    </div>
                                    <div class="details">
                                    <div class="name">Andrew James</div>
                                    <div class="id">#INV45478</div>
                                    </div>
                                </div>
                                <div class="amount expense">-300.12</div>
                                </div>
                            </div>

                            <div class="divider"></div>

                            <div class="transaction-group">
                                <div class="section-title">Yesterday</div>

                                <div class="transaction-item">
                                <div class="left">
                                    <div class="icon">
                                    <img src="assets/img/paypal-icon.svg" alt="PayPal" />
                                    </div>
                                    <div class="details">
                                    <div class="name">Andrew James</div>
                                    <div class="id">#INV45478</div>
                                    </div>
                                </div>
                                <div class="amount income">+ 699</div>
                                </div>

                                <div class="transaction-item">
                                <div class="left">
                                    <div class="icon">
                                    <img src="assets/img/card-icon.svg" alt="Card" />
                                    </div>
                                    <div class="details">
                                    <div class="name">Andrew James</div>
                                    <div class="id">#INV45478</div>
                                    </div>
                                </div>
                                <div class="amount income">+ 474.22</div>
                                </div>

                                <div class="transaction-item">
                                <div class="left">
                                    <div class="icon">
                                    <img src="assets/img/card-icon.svg" alt="Card" />
                                    </div>
                                    <div class="details">
                                    <div class="name">Andrew James</div>
                                    <div class="id">#INV45478</div>
                                    </div>
                                </div>
                                <div class="amount expense">-474.22</div>
                                </div>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>