/* You can add global styles to this file, and also import other style files */
// Start Fonts
    /* open-sans-300 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-300.woff2') format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-regular - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-regular.woff2') format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-italic - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-italic.woff2') format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-500 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-500.woff2') format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-600 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-600.woff2') format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-600italic - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-600italic.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-600italic.ttf')
        format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-700 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-700.woff2') format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-700italic - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-700italic.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-700italic.ttf')
        format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-800 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src:
        url('assets/fonts/open-sans/open-sans-v35-latin-800.woff2') format('woff2'),
        url('assets/fonts/open-sans/open-sans-v35-latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-800 - latin ext */
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-300-normal.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-300-normal.woff') format('woff');
    }
    /* open-sans-latin-ext-400-normal */
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-400-normal.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-400-normal.woff') format('woff');
    }
    /* open-sans-italic - latin ext */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-400-italic.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-400-italic.woff') format('woff'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-latin-ext-500-normal */
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-500-normal.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-500-normal.woff') format('woff');
    }
    /* open-sans-latin-ext-600-normal */
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-600-normal.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-600-normal.woff') format('woff');
    }
    /* open-sans-600italic - latin ext */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-600-italic.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-600-italic.woff') format('woff'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-latin-ext-700-normal */
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-700-normal.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-700-normal.woff') format('woff');
    }
    /* open-sans-700italic - latin-ext */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-700-italic.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-700-italic.woff') format('woff'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* open-sans-latin-ext-800-normal */
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src:
        url('assets/fonts/open-sans/open-sans-latin-ext-800-normal.woff2')
        format('woff2'),
        url('assets/fonts/open-sans/open-sans-latin-ext-800-normal.woff') format('woff');
    }
    /* 'Sansa Pro';-regular - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sansa Pro';
    font-style: normal;
    font-weight: 300;
    src:
        url('assets/fonts/sansa-pro/SansaPro-400.woff2') format('woff2'),
        url('assets/fonts/sansa-pro/SansaPro-400.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* 'Sansa Pro';semi bold - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sansa Pro';
    font-style: normal;
    font-weight: 600;
    src:
        url('assets/fonts/sansa-pro/SansaPro-600.woff2') format('woff2'),
        url('assets/fonts/sansa-pro/SansaPro-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    /* 'Sansa Pro'; bold- latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sansa Pro';
    font-style: normal;
    font-weight: 700;
    src:
        url('assets/fonts/sansa-pro/SansaPro-700.woff2') format('woff2'),
        url('assets/fonts/sansa-pro/SansaPro-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    }
    @media (min-width: 1200px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 1440px;
        }
    }
// End Fonts
* {
    margin: 0; 
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f5f5f5;
}
// 

//Variables
/* Define CSS Variables */
:root {
    --primary: #2a295c;
    --secondary: #283897;
    --green: #34A866;
    --sky-blue: #199CDA;
    --light-blue: #E7E9F7;
    --lighter-blue: #F9FAFF;
    --orange: #EF661A;
    --yellow: #FCBD4C;
    --red: #DA2020;
    --stroke-color: #E0E0E0;
    --selection: #7E8ACC;
    --bg-color: #efefee;
    --white: #ffffff;
  }
  
  /* Apply Colors */
  .color-primary { color: var(--primary); }
  .color-secondary { color: var(--secondary); }
  .color-green { color: var(--green); }
  .color-sky-blue { color: var(--sky-blue); }
  .color-light-blue { color: var(--light-blue); }
  .color-lighter-blue { color: var(--lighter-blue); }
  .color-orange { color: var(--orange); }
  .color-yellow { color: var(--yellow); }
  .color-red { color: var(--red); }
  .color-stroke { color: var(--stroke-color); }
  .color-selection { color: var(--selection); }
  .color-bgcolor { color: var(--bg-color); }
  .color-white { color: var(--white); }
  
  /* Background Colors */
  .bg_primary { background-color: var(--primary); }
  .bg_secondary { background-color: var(--secondary); }
  .bg-green { background-color: var(--green); }
  .bg-sky-blue { background-color: var(--sky-blue); }
  .bg-light-blue { background-color: var(--light-blue); }
  .bg-lighter-blue { background-color: var(--lighter-blue); }
  .bg-orange { background-color: var(--orange); }
  .bg-yellow { background-color: var(--yellow); }
  .bg-red { background-color: var(--red); }
  .bg-stroke { background-color: var(--stroke-color); }
  .bg-selection { background-color: var(--selection); }
  .bg-bgcolor { background-color: var(--bg-color); }
  .bg-white { background-color: var(--white); }
  

// Typography

h1,
.h1 {
  font-size: 1.625rem; //26px
  font-weight: 700;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 1.5rem; //24px
  font-weight: 600;
  line-height: 1.3;
}

h3,
.h3 {
  font-size: 1.375rem; //22px
  font-weight: 500;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: 1.25rem; //20px
  font-weight: 500;
  line-height: 1.4;
}

h5,
.h5 {
  font-size: 1.125rem;  //18px
  font-weight: 400;
  line-height: 1.5;
}

h6,
.h6 {
  font-size: 1rem;  //16px
  font-weight: 400;
  line-height: 1.5;
}

// Paragraph styles
p {
  font-size: 0.875rem; //14px
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

.small-text {
  font-size: 0.75rem;       //12px
  line-height: 1.5;
}

.large-text {
  font-size: 1rem;      //16px
  line-height: 1.5;
}

.opacity-text {
  opacity: 0.8;
}

.form-label{
  color: #2A295C;
font-size: 13px;
font-weight: 500; 
}

.btn:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}
// End Typography
// Start Buttons

// End Buttons
// start dashboard Css
.invoice-card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    clip-path: polygon(1% 0, 23% 77%, 100% 100%, 0 100%, 0% 50%, 0 0);
    border-right: 40px solid transparent;
    border-bottom-left-radius: 10px;
  }

  &.purple::before {
    border-bottom: 40px solid #8e44ad; // purple
  }

  &.green::before {
    border-bottom: 40px solid #34A866; // green
  }

  &.red::before {
    border-bottom: 40px solid #DA2020; // red
  }

  &.yellow::before {
    border-bottom: 40px solid #FCBD4C; // yellow
  }

  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .invoice-icon {
    color: white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 18px;
    }
  }

  .invoice-amount {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
  }

  .invoice-text {
    font-size: 14px;
    color: #666;
  }

  .invoice-footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 14px;

    span {
      color: #4caf50;
    }

    i {
      margin-right: 6px;
      font-size: 16px;
    }

    .down {
      color: #f44336;
    }
  }
}

.card {
  .card-header {
    background: #fff;
    border-bottom: 1px solid var(--Color-Stroke-Color, #E0E0E0);
    padding: 8px 16px;

    
  }
}

// End dashboard Css


